* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0px auto;
}

.header {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    position: relative;
    height: 110px;
}

#itplus {
    position: absolute;
    width: 130px;
    top: 10px;
    left: 10px;
}

.header-title {
    text-align: center;
    padding-top: 20px;
}

h2 {
    color: rgb(9, 9, 151);
    margin-bottom: 10px;
}

#nuae {
    position: absolute;
    width: 90px;
    top: 0px;
    right: 0px;
}

.nav {
    width: 100%;
    height: 40px;
    background-color: rgb(13, 13, 201);
}

.nav li {
    list-style: none;
    color: white;
    float: left;
    margin: 10px 10px;
}

.main {
    float: left;
    width: 70%;
}

.section img {
    margin-top: 20px;
    width: 100%;
}

.article {
    margin-top: 10px;
}

.article p {
    font-size: 24px;
    font-weight: bold;
}

.article li {
    font-size: 20px;
    list-style: none;
}

.aside {
    margin-top: 25px;
    float: left;
    width: 30%;
}

.aside h4 {
    text-align: center;
}

.aside ul {
    margin-top: 20px;
}

.aside li {
    list-style: none;
    text-align: center;
}

.footer {
    float: left;
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    color: white;
}

a {
    text-decoration: none;
}